---
layout: page
title: About | Halton Xu 
permalink: /about/
---
<div class="footer-clear vertical-center-child about">

  <p>Coder, Web, Blockchain, Linux</p>

  <section class="bio">
    <p>I am a coder </p>
    <p>I am a web fan</p>
    <p>I am a blockchain fan</p>
    <p>I am a linuxer</p>

    <p><strong>Bio</strong></p>
    <p> A Technology Freelancer </p>
    <p>2009 Graduated from Nanchang University, top 50 University in China, belong to 211 Famous Engineering University </p>
    <p>Bachelor Degree of Computer Science</p>
    <p>10+ years technology experience</p>
    <p>based on Shenzhen, Chinese Silicon Valley</p>
  </section>

  <section  class="stack">
    <p><strong>Web Technology Stack</strong></p>

    <p>98% C/C++</p>
    <p>95% NodeJS, including ExpressJS, Socket.IO etc</p>
    <p>98% PHP</p>
    <p>98% Database: Mysql, Oracle, MongoDB, Redis</p>
    <p>98% Wechat Mini Program</p>
    <p>98% Web Fontend Framework: Vue, React, AngularJS </p>
    <p>98% CSS/CSS3/Javascript/HTML</p>
    <p>98% jQuery/Boostrap</p>
    <p>98% NodeJS all</p>
    <p>80% Python</p>
    <p>98% Unix Shell</p>
    <p>98% DevOps, Ansible, Docker, Circle-CI</p>
    <p>98% Blockchain</p>
  </section>

  <section  class="stack">
    <p><strong>Blockchain Technology Stack</strong></p>
    <p>90% C/C++/Rust</p>
    <p>95% Bitcoin/Ethereum/IOTA/Nano</p>
    <p>98% Smart Contract</p>
  </section>


  <section  class="stack">
    <p><strong>Job</strong></p>
    <p>Huawei Technology Company</p>
  </section>


  <!-- footer -->
  {% include footer.html %}
  
</div>

<!-- menu -->
{% include menu.html %}
